


<div class="Container">
        <header class="Container_Header">
            <a href="#/">
                <img src="./assets/images/LOGO-X28.png" alt="" class="Container_Header_Img">
            </a>
        </header>
        <main class="Container_Main">
            <div  class="Container_Main_Container">
                <h1 class="Container_Main_Container_Title">Confirmación exitosa</h1>
                <p class="Container_Main_Container_Description">
                    Ya podés comandar tu alarma a distancia y disfrutar de todos sus beneficios.
                    <br/>
                    ¡Gracias por elegirnos!
                </p>
            </div>
        </main>
        <footer class="Container_Footer">
            <img src="./assets/images/vivi.png" alt="" class="Container_Footer_Image"/>
            <p class="Container_Footer_Text">
                &copy; X-28 Alarmas, ©2021 All rights reserved
            </p>
        </footer>
    </div>